<div id="logo"><img id="logo" src="img/logo.png"></div>
<div id="menu">
	<div id="home" class="menu-item"><a class="link_no_underline link-text" href="/">HOME</a></div>
	<div id="browse" class="menu-item" ><a class="link_no_underline link-text" href="/browse">BROWSE</a></div>
	<div id="browse" class="menu-item"><a class="link_no_underline link-text" href="/about">ABOUT US</a></div>
</div>